/* Vars: */
:root {
    font-size: 16px;
    --fg: #333333;
    --cfg: #E7040F;
    --alfg: #00449E;
    --avfg: #5E2CA5;
    --bbg: #CCCCCC;
    --bg: #F4F4F4;
    --fs: 1rem;
    --lh: 150%;
    --bs: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

/* Elements: */
html {
    scroll-behavior: smooth;
}
body {
    background: var(--bg);
    color: var(--fg);
    font: var(--fs)/var(--lh) "Source Sans Pro", sans-serif;
    transition: opacity 100ms ease-in-out;
    padding: var(--fs);
    padding-bottom: 0;
}
a {
    color: var(--alfg);
    text-decoration: underline;
}
a:visited {
    color: var(--avfg);
}
i {
    display: inline-block;
    font-size: small;
    margin-right: calc(var(--fs) / 4);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--fs) 0;
    padding: 0;
    line-height: 100%;
}
h1 {
    font: calc(var(--fs) * 2.25) "Cinzel", serif;
    margin-bottom: 0;
}
h2 {
    font-size: calc(var(--fs) * 1.5);
}
h3,
h4,
h5,
h6 {
    font-size: calc(var(--fs) * 1.25);
    font-weight: bold;
}
ul,
ol {
    margin-bottom: 0;
    padding-left: var(--fs);
}
p {
    padding: 0;
    margin: var(--fs) 0;
}
code {
    color: var(--cfg);
}
table,
pre {
    box-shadow: var(--bs);
}
hr {
    display: none;
}

/* Classes: */
a.btn {
    text-decoration: none;
}
a.nav-link {
}
a.active {
    cursor: pointer;
    text-decoration: none;
}
.separator {
    display: inline-block;
    font-size: small;
    margin: 0 calc(var(--fs) / 4);
}
.post-anchor.btn {
    border: var(--bbg) solid 1px;
    bottom: 1px;
    font-size: x-small;
    margin-right: calc(var(--fs) / 4);
    padding: 0;
    padding-left: calc(var(--fs) / 4);
    position: relative;
}

/* Header: */
.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.header .social-media {
    list-style: none;
    padding-left: 0;
}
.header .social-media a {
    color: var(--fg);
    padding: 0;
}
.header .site-logo {
    border-radius: 50%;
    border: var(--bbg) solid 1px;
    box-shadow: var(--bs);
}
.header .social-media {
    align-items: start;
    display: flex;
    justify-content: flex-end;
}
.header .site-title {
    color: var(--fg);
    font: calc(var(--fs) * 3) "Lobster", cursive;
    text-decoration: none;
}

/* Siri: */
.siri-container {
    margin-top: var(--fs);
}

/* Navigation: */
.site-nav {
    font: calc(var(--fs) * 1.125) "Cinzel", serif;
    text-align: center;
}
.site-nav {
    display: block;
    margin: 0 auto;
}
.site-nav li {
    display: inline-block;
    margin: 0 var(--fs);
}
.site-nav a {
    color: var(--fg);
}

/* Breadcrumbs: */
.breadcrumbs {
    background: var(--bg);
    box-shadow: var(--bs);
    margin: var(--fs) 0;
}

/* Preview (Home): */
.preview h1 {
    position: absolute;
    visibility: hidden;
}

/* Featured: */
/* Summary: */
/* Footer: */
.featured-post.jumbotron,
.post-summary.jumbotron,
.footer {
    background: var(--fg);
    box-shadow: var(--bs);
    color: var(--bg);
    padding: calc(var(--fs) * 2);
    margin: 0;
    margin-bottom: var(--fs);
}
.featured-post.jumbotron h2 {
    font: calc(var(--fs) * 2.25) "Cinzel", serif;
}
.featured-post.jumbotron h2,
.post-summary.jumbotron h2 {
    margin-top: 0;
}
.featured-post.jumbotron a,
.post-summary.jumbotron a,
.footer a {
    color: var(--bg);
}
.featured-post.jumbotron a:visited,
.post-summary.jumbotron a:visited,
.footer a:visited {
    color: var(--bbg);
}
.post-meta,
.post-excerpt,
.post-continue {
    margin: var(--fs) 0;
}
.post-continue,
.post-summary p {
    margin-bottom: 0;
}
.featured-post.jumbotron h2 {
    font-family: "Cinzel", serif;
}
.footer {
    border-radius: calc(var(--fs) / 4) calc(var(--fs) / 4) 0 0;
    margin-bottom: 0;
    padding: var(--fs) 0;
    font-size: 80%;
    text-align: center;
}
.footer p {
    margin: 0;
}

/* Blog posts: */
.recent-posts h2,
.recent-posts h3 {
    border-top: var(--bbg) solid 1px;
}
.recent-posts h2 {
    border: 0;
}
.recent-posts .post-preview:first-child {
    border: 0;
    display: none;
}
.recent-posts h3 {
    font-family: "Cinzel", serif;
    padding-top: var(--fs);
}

/* Post Preview: */
/* Post Content: */
.recent-posts .post-preview {
    margin: var(--fs) 0;
}
.post-content .post-meta {
    margin-top: 0;
}
.post-content .content-block h3,
.post-content .content-block h4,
.post-content .content-block h5,
.post-content .content-block h6 {
    margin: calc(var(--fs) / 2) 0;
}
strong + .navbar-nav > li:last-child,
.post-comments h2 {
    display: none;
}

@media (min-width: 768px) and (orientation: landscape) {
    /* Header: */
    .social-media li {
        margin-left: calc(var(--fs) / 2);
    }

    /* Main: */
    h1 {
        margin: 0;
    }
    .posts .main {
        display: flex;
        justify-content: space-between;
    }

    /* TOC: */
    .posts .main .sidebar {
        flex: auto;
        padding: 0 var(--fs);
    }
    .posts .main .sidebar .toc strong {
        display: block;
        border-bottom: var(--bbg) solid 1px;
        margin-bottom: calc(var(--fs) / 2);
        padding-bottom: var(--fs);
    }
    .posts .main .sidebar .toc li {
        line-height: calc(var(--lh) * 1.25);
        list-style: disc;
        margin-left: calc(var(--fs) * 1.25);
    }
    .posts .main .sidebar .toc a {
        padding: 0;
    }
    .posts .main .sidebar .toc a.active {
        font-size: 95%;
        text-decoration: none;
    }

    /* Content: */
    .posts .main .content {
        border-left: var(--bbg) solid 1px;
        padding-left: var(--fs);
        flex: 75%;
    }

    /* Footer: */
    .posts .footer {
        margin-top: var(--fs);
    }
}

/* Comments: */
.posts .main .content .post-comments #disqus_thread {
    border-bottom: #E7E9EE solid 2px;
    margin-top: var(--fs);
}

@media (max-width: 768px) and (orientation: portrait) {
    /* Header: */
    .header .social-media {
        display: block;
    }
    .social-media li {
        margin-bottom: calc(var(--fs) / 2);
    }

    /* Main: */
    .main .sidebar {
        display: none;
    }
}

/* Pagination: */
.pagination {
    border: var(--bbg) solid 1px;
    border-width: 1px 0;
    display: flex;
    justify-content: space-between;
    margin: var(--fs) 0;
    padding: var(--fs) 0;
}
.pagination .separator {
    margin-top: calc(var(--fs) / 2);
}

/* Sticky footer: */
html,
body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.wrapper {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

/* Override bootstrap: */
.active {
    font-weight: bold;
}
.table thead th {
    border-bottom: 0;
}

/* Change default style: */
.content-block h2 {
    border-top: var(--bbg) solid 1px;
    padding-top: var(--fs);
}
.content-block table,
.content-block ul,
.content-block ol,
.content-block li pre,
.content-block li ol,
.content-block li ul {
    margin: var(--fs) 0;
}
.post-content .content-block table + h2 {
    margin-top: calc(var(--fs) * 1.5);
}
.author ul,
.pages ul,
.archives ul,
.tags ul,
.tag ul {
    list-style: none;
    margin-bottom: var(--fs);
    padding-left: 0;
}
