{% extends "templates/html/layouts/base.html" %}
{%block subtitle %}: {{post.title}}{% endblock %}
{% block content %}
<div id="post">
    {% include "templates/html/layouts/post-content.html" %}
    <div id="prev-next">
        {% if post.prev %}
        <a href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
        {% endif %}
        {% if all post.prev post.next %}
        ||
        {% endif %}
        {% if post.next %}
        <a href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
        {% endif %}
    </div>

    {% if disqus-shortname %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//{{disqus-shortname}}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% endif %}


</div>
{% endblock %}
