{% if any post.prev.uri post.next.uri %}
<div class="pagination">
    <a class="previous btn btn-outline-secondary {% if not post.prev.uri %}invisible{% endif %}"
       href="{% if post.prev.uri %}{{ post.prev.uri }}{% else %}#{% endif %}">
        <i class="fas fa-angle-left"></i> {{ post.prev.title }}
    </a>

    {% if all post.prev.uri post.next.uri %}
    <div class="separator">
        <i class="fas fa-yin-yang"></i>
    </div>
    {% endif %}

    <a class="next btn btn-outline-secondary {% if not post.next.uri %}invisible{% endif %}"
       href="{% if post.next.uri %}{{ post.next.uri }}{% else %}#{% endif %}">{{ post.next.title }}
        <i class="fas fa-angle-right"></i>
    </a>
</div>
{% endif %}
