{% extends "/html/base.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block subtitle %}{{ site-title }}{% endblock %}
{% block description %}{{ post.description|abbreviate:160 }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
{% include "/html/post-content.html" %}
{% include "/html/components/post/pagination.html" %}
{% include "/html/components/post/comments.html" %}
{% endblock %}

{% block sidebar %}
<div class="toc sticky-top">
    <strong>Table of Contents</strong>
</div>
{% endblock %}
