{% extends "/html/base.html" %}
{%block subtitle %}: {{page.title}}{% endblock %}
{% block meta %}
{% if page.description %}
<meta name="description" content="{{page.description}}">
{% comment %} OpenGraph tags {% endcomment %}
<meta property="og:description" content="{{page.description}}">
{% endif %}
<meta property="og:url" content="{{site-url}}{{uri}}" />
<meta property="og:title" content="{{page.title}}" />
<meta property="og:type" content="article" />
{% endblock %}
{% block content %}
<div id="custom-page">
    <div id="page-header">
        <h1>{{page.title}}</h1>
    </div>
    {% if page.toc %}{{page.toc|safe}}{% endif %}
    {{page.content|safe}}

    <div id="prev-next">
        {% if page.prev %}
        <a class="button" href="{{page.prev.uri}}">&laquo; {{page.prev.title}}</a>
        {% endif %}
        {% if page.next %}
        <a class="right button" href="{{page.next.uri}}">{{page.next.title}} &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
