<div class="post-header">
    <div id="post-meta" class="row">
        <strong>{{post.date|date:longDate}}</strong>
        {% if post.author %}
        <span class="col-lg-6 right">By: {{post.author}}</span>
        {% endif %}
    </div>
    <h1>{{post.title}}</h1>
</div>
<div>
    {% if post.toc %}{{post.toc|safe}}{% endif %}
    {{post.content|safe}}
</div>
{% if post.tags|not-empty %}
<div id="post-tags">
    <b>Tags: </b>
    {% for tag in post.tags %}
    <a href="{{tag.uri}}">{{tag.name}}</a>
    {% endfor %}
</div>
{% endif %}


  <!--   <h1>Donec et lacus sed nibh faucibus elementum</h1> -->
  <!--   <img class="imgfull" alt="" src="images/image.jpg" /> -->
  <!--   <p><strong>Morbi rutrum, lectus sed lacinia luctus, neque diam cursus nunc, vitae ultricies neque justo at orci. Nulla vitae velit enim. Mauris in augue sapien. Donec et lacus sed nibh faucibus elementum.</strong></p> -->
  <!--   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus ante sed feugiat consequat. Fusce non risus bibendum, accumsan eros eu, interdum turpis. Aenean tincidunt scelerisque lorem et ultricies. Duis quis nunc ex. Sed malesuada vestibulum elit ac maximus. Maecenas eleifend velit eget magna consequat elementum. Morbi vulputate elit orci, fermentum aliquam sem mattis non. Etiam rhoncus, tellus accumsan pulvinar cursus, est massa consectetur velit, a condimentum metus lorem ac ipsum.</p> -->
	<!-- <p><a class="button" title="" href="./">More Information</a></p> -->
  <!--   <p>Integer eros ligula, finibus at elementum quis, accumsan euismod neque. Sed eget justo lorem. Nulla euismod neque in lacus blandit, at aliquet velit eleifend. Aliquam in tortor nec dolor condimentum aliquam nec sit amet est. Nulla viverra massa sed vehicula malesuada. Ut malesuada elementum sapien, eu consequat quam aliquam dictum. Vestibulum ut elementum nisi. Donec dolor lectus, aliquam quis velit quis, ultrices tempor metus. Donec ornare, ante sit amet molestie semper, ligula nulla ultricies turpis, id bibendum metus dui bibendum orci. Nunc bibendum vel ligula vitae malesuada.</p> -->
  <!--   <blockquote> -->
  <!--   	<p>"Suspendisse finibus justo eu dapibus maximus. Praesent nulla tellus, maximus non elit sed, pretium mattis lorem. Vivamus consectetur lacus vel tortor tincidunt bibendum. Curabitur eu sem at enim luctus laoreet."</p> -->
  <!--   	<p class="author">Joe Bloggs (London)</p> -->
  <!--   </blockquote> -->
  <!--   <p>Nunc ipsum tortor, venenatis et porta eu, venenatis fermentum diam. Etiam porta arcu congue consequat lobortis. Suspendisse finibus justo eu dapibus maximus. Praesent nulla tellus, maximus non elit sed, pretium mattis lorem. Vivamus consectetur lacus vel tortor tincidunt bibendum. Curabitur eu sem at enim luctus laoreet. Morbi felis enim, aliquam vel vestibulum non, condimentum eu dui. Maecenas nec pretium nunc.</p> -->
	<!-- </div> -->
